<% if User.is_logged_in?(session) %>
  <h1>Welcome, <%= User.current_user(session).username %></h1>
  <h3>All tweets: </h3>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.content %> </li>
  <%end%>
<%else%>
  <%=redirect to '/'%>
<%end%>

<h3><a href="/tweets/new">New Tweet</a></h3>
<br>
<h4><a href="/logout">Log Out</a></h4>
